<form id="#address-form">
    <p>
        <label>
        Nome: 
        <input type="text" [(ngModel)]="dados.name" name="name" placeholder="Seu nome" required><!-- (id) tem que corresponder ao valor do label--> 
        </label> 
    </p>
    <p>
        <label>
        CPF: 
        <input type="text" [(ngModel)]="dados.cpfClient" name="cpf" placeholder="Ex: XXX.XXX.XXX-XX" required pattern="[0-9]{11}">
        </label>
    </p>
    <p>
        <label>
        Data de nascimento:
        <input type="date" [(ngModel)]="dados.bornIn" name="dataNascimento" required>
        </label>
    </p>
    <p>
        <label>
        Email:
        <input type="email" [(ngModel)]="dados.emailClient" name="email" placeholder="random@gmail.com" required>
        </label>
    </p>
    <p>
        <label>Telefone:
        <input type="tel" [(ngModel)]="dados.telephones" name="telefonim" placeholder="" pattern="[0-9]{2}[0-9]{5}[0-9]{4}">
        </label>
    </p>
    <p>
        <label>Digite o seu cep:
        <input type="text" id="cepInput" [(ngModel)]="dados.cep" name="cep" placeholder="Digite o seu CEP" maxlength="8" minlength="8" required/>
        </label>
    </p>
    <p>
        <label>Rua:
        <input type="text" [(ngModel)]="dados.adress" name="rua" placeholder="Rua" required disabled data-input/>
        </label>
    </p>
    <p >
        <label>Digite o número da residência:
        <input type="text" [(ngModel)]="dados.houseNumber" name="numeroCasa" placeholder="Digite o número da residência" disabled required data-input/>
        </label>
    </p>
    <p >
        <label >Digite o complemento:
        <input type="text" [(ngModel)]="dados.complement" name="complemento" placeholder="Digite o complemento" disabled data-input/>
        </label>
    </p>
    <p >
        <label>Bairro:
        <input type="text" [(ngModel)]="dados.neighborhood" name="bairro" placeholder="Bairro" disabled required data-input/>
        </label>
    </p>
    <p>
        <label>Cidade:
        <input type="text" [(ngModel)]="dados.city" name="cidade" placeholder="Cidade" disabled required data-input>
        </label>
    </p>
    <p>
        Estado:
        <select 
        [(ngModel)]="dados.regionState" name="estado" disabled requireddata-input>
        <option selected>Estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        </select>
    </p>
    <div>
        <button id="save-btn" type="submit" >Cadastrar</button>
        <button id="save-btn" type="reset">Reset</button>
    </div>
</form>